<strong>Recuperação de Senha</strong>

<p> Uma Solicitação de senha foi realizada para o email ({{ email }}. Se não foi você, indicamos alterar a senha para sua segurança.</p>

<p> Para continuar com a recuperação de senha, utilize o token {{ token }} ou clique no link abaixo: </p>

<a href="{{link}}">Criar nova senha</a>
